<style>
    html {
        background: #e6ebef;
    }
</style>

<body
    style="display: flex; align-items: center; justify-content: center; height: 100%; flex-direction: column; overflow: hidden;">
    <img src="/static/images/QRcoderemote.png" height="300px" width="300px"
        style="margin-bottom: 20px; border-radius: 20px; box-shadow: 8px 8px 16px #c8cdd1, -8px -8px 16px #ffffff;">
    <div style="font-size: 24px; color: #333; font-family: Arial, sans-serif;">Scan the QR code to connect to the remote control</div>
    <div style="font-size: 18px; color: #333; font-style: italic;  font-family: Arial, sans-serif;">Your phone has to be connected to the same network (famillie Been)</div>
</body>