<style>
    html {
        background: #e6ebef;
    }

    #qr {
        margin-bottom: 20px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow:
            8px 8px 16px #c8cdd1,
            -8px -8px 16px #ffffff;
    }
</style>

<body
    style="display:flex; align-items:center; justify-content:center; height:100%; flex-direction:column; overflow:hidden;">

    <div id="qr"></div>

    <div style="font-size:24px; color:#333; font-family:Arial, sans-serif;">
        Scan the QR code to connect to the remote control
    </div>

    <div style="font-size:18px; color:#333; font-style:italic; font-family:Arial, sans-serif;">
        Your phone has to be connected to the same network
    </div>

    <div style="font-size:18px; color:#333; font-family:Arial, sans-serif; margin-top:10px;">
        {{ remote_url }}/
    </div>

    <script src="https://unpkg.com/qr-code-styling/lib/qr-code-styling.js"></script>

    <script>
        //generate qr code 
        const qr = new QRCodeStyling({
            width: 280,
            height: 280,
            data: "{{ remote_url }}/",

            dotsOptions: {
                type: "dots",
                color: "#000000"
            },

            cornersSquareOptions: {
                type: "extra-rounded",
                color: "#000000"
            },

            cornersDotOptions: {
                type: "dot",
                color: "#000000"
            },

            backgroundOptions: {
                color: "#e6ebef"
            },

            qrOptions: {
                errorCorrectionLevel: "H"
            }
        });

        qr.append(document.getElementById("qr"));
    </script>

</body>